* {
    margin: 0;
    padding: 0;
}

/* font-family: 'Fraunces', serif; */

body {
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

.hero {
    position: relative;
    display: flex;
}


.hero-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    list-style: none;
}

.nav-elements a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.nav-elements .button {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 25px;
    color: black;
    border: none;
    text-transform: uppercase;
    background-color: hsl(0, 0%, 100%);
}

.text {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text p {
    color:  hsl(167, 40%, 24%);


}

.text-image {
    display: flex;
    width: 50%;
    flex-shrink: 0;
}
  

.text-image img {
    width: 100%;
    height: 100%;
}

.image-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.glass-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.glass-img img {
    width: 100%;
    height: 100%;

}

.apple-orange {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.apple-orange .apple img {
    width: 100%;
    height: 100%;
}

.apple-orange .orange img {
    width: 100%;
}
.apple-orange .apple {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.apple-orange .A-text {
    position: absolute;
    bottom: 40px;
    left: 30px;
    right: 30px;

}
.apple-orange .orange {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.apple-orange .o-text {
    position: absolute;
    bottom: 50px;
    left: 30px;
    right: 30px;

}
.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials .Emily img {
  width: 20px;
}

.footer-img {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100vw;
}

.footer-img .milk-bottle {
    width: 25%;
    height: auto;
}
.footer-img .santra {
    width: 25%;
}


.footer-img .ice-cone {
    width: 25%;
}

.footer-img .sugar {
    width: 25%;
}

.footer-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
    gap: 30px;
    padding: 30px;
    width: 100vw;
}
.footer h3{
  text-align: center;
}
.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}