* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Fraunces', serif;

}

body {
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

p {
    line-height: 1.5;
}

.hero {
    position: relative;
    display: flex;
}

.hero-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    list-style: none;
}

.nav-elements a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.nav-elements .button {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 25px;
    color: black;
    border: none;
    text-transform: uppercase;
    background-color: hsl(0, 0%, 100%);
}

.text {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.text h1 {
    text-align: center
}

.text p {
    color: hsl(167, 40%, 24%);
    text-align: center;
}

.text-image {
    display: flex;
    width: 50%;
    flex-shrink: 0;
}


.text-image img {
    width: 100%;
    height: 100%;
}

.image-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.glass-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.glass-img {
    display: flex;
    width: 50%;
    flex-shrink: 0;
}


.glass-img img {
    width: 100%;
    height: 100%;

}

.apple-orange {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.apple-orange .apple img {
    width: 100%;
    height: 100%;
}

.apple-orange .orange img {
    width: 100%;
}

.apple-orange .apple {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.apple-orange .A-text {
    position: absolute;
    bottom: 20%;
    left: 25%;
    right: 25%;

}

.apple-orange .A-text h1 {
    margin-bottom: 15px;
}

.apple-orange .orange {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 10%;
    gap: 5%;
}

.client h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.testimonials .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.testimonials .card p {
    text-align: center;
}

.testimonials .card img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}


/* .testimonials .Emily img {
    width: 65px;
    border-radius: 50%;
    margin-bottom: 45px;
}

.testimonials .Emily p {
    line-height: 1.8;
}



.testimonials .thomas img {
    width: 65px;
    border-radius: 50%;
    margin-bottom: 45px;
}

.testimonials .thomas p {
    line-height: 1.8;
}

.testimonials .jennie img {
    width: 65px;
    border-radius: 50%;
    margin-bottom: 45px;
}

.testimonials .jennie p {
    line-height: 1.8;
}

.testimonials .Emily img {
    width: 65px;
} */

.footer-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.footer-img .milk-bottle {
    width: 25%;
    height: auto;
    display: flex;
}

.footer-img .santra {
    width: 25%;
    display: flex;
}


.footer-img .ice-cone {
    width: 25%;
    display: flex;
}

.footer-img .sugar {
    width: 25%;
    display: flex;
}

.footer-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    width: 100vw;
    background-color: hsl(168, 34%, 41%);
}

.footer h3 {
    text-align: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.test {
    display: flex;
    flex-wrap: wrap;
}

.test .test-card {
    min-width: 200px;
    height: 200px;
    display: flex;
    flex-grow: 1;
}

.test .card-1 {
    background-color: red;
}
.test .card-2 {
    background-color: blue;
}
.test .card-3 {
    background-color: green;
}
.test .card-4 {
    background-color: orange;
}

/* Mobile code from here */

@media only screen and (max-width:850px) {
    .nav-elements {
        display: none;
    }

    .image-text {
        flex-direction: column-reverse;
    }

    .text-image {
        width: 100%;
    }

    .text {
        width: calc(100% - 120px);
    }

    .glass-text {
        flex-direction: column;
    }

    .glass-img {
        width: 100%;
    }

    .apple-orange {
        flex-direction: column;
    }

    .apple-orange .A-text {
        bottom: 10%;
        left: 10%;
        right: 10%;
    }

    .testimonials {
        flex-direction: column;
        gap: 30px;
    }

    .footer-img {
        flex-wrap: wrap;
    }

    .footer-img .img-container {
        width: 50%;
    }

    .footer {
        width: calc(100vw - 60px);
    }
}

@media only screen and (max-width:650px) {
    .apple-orange .A-text {
        bottom: 3%;
        left: 3%;
        right: 3%;
    }
}